@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-shape-divider-top-1776946470 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1776946470 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 31px;
}

.custom-shape-divider-top-1776946470 .shape-fill {
    fill: #500778;
}